@import "tailwindcss";
@keyframes floatFrontBack {
  0%, 100% {
    transform: translate3d(-19.7px, -19.7px, 0) scale3d(0.901, 0.901, 1);
  }
  50% {
    transform: translate3d(-24px, -24px, 10px) scale3d(0.94, 0.94, 1);
  }
}

.animate-floatFrontBack {
  animation: floatFrontBack 4s ease-in-out infinite;
  will-change: transform;
  transform-style: preserve-3d;
}
@keyframes scaleFade {
  0% { opacity: 0; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}
.animate-scaleFade {
  animation: scaleFade 0.3s ease-out;
}
@keyframes modalShow {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-modalShow {
  animation: modalShow 0.3s ease-out forwards;
}
body.modal-open {
  filter: blur(2px);
  overflow: hidden;
}
